/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
  &.correct-snackbar {
    --mdc-snackbar-container-color: green;
    --mdc-snackbar-supporting-text-color: white;
  }
}

.mat-mdc-snack-bar-container {
  &.incorrect-snackbar {
    --mdc-snackbar-container-color: red;
    --mdc-snackbar-supporting-text-color: white;
  }
}
